form{
    margin-top: 5px;
    margin-left: 10px;
}
#name-field, #details-field{
    padding:10px;
    margin-right: 10px;
}

#submit-btn{
    padding: 10px 20px;
    transition: ease 0.1s;
}

#submit-btn:hover{
    background: #666;
    color:#fff;
}